In [9]:
from sqlalchemy import create_engine, inspect

# Replace with your actual connection string:
connection_string ="postgresql://postgres:postgres@localhost:5432/etl_db"
engine = create_engine(connection_string)

# Table name (and optionally schema)
table_name = "linkedin_data"
schema = "public"

inspector = inspect(engine)

columns = inspector.get_columns(table_name, schema=schema)
print(f"Schema for table '{schema}.{table_name}':")
for col in columns:
    print(f"{col['name']:22} | {col['type']} | nullable: {col['nullable']}")

Schema for table 'public.linkedin_data':
id                     | INTEGER | nullable: False
url                    | TEXT | nullable: True
first_name             | TEXT | nullable: True
last_name              | TEXT | nullable: True
job_title              | TEXT | nullable: True
headline               | TEXT | nullable: True
company                | TEXT | nullable: True
industry               | TEXT | nullable: True
location               | TEXT | nullable: True
work_email             | TEXT | nullable: True
other_work_emails      | TEXT | nullable: True
twitter                | TEXT | nullable: True
github                 | TEXT | nullable: True
company_linkedin_url   | TEXT | nullable: True
company_domain         | TEXT | nullable: True
profile_image_url      | TEXT | nullable: True

In [7]:
from sqlalchemy import create_engine, text

# -----------------------------------------
# Set these to your actual values:
connection_string = "postgresql://postgres:postgres@localhost:5432/etl_db"
table_name = "linkedin_data"
# -----------------------------------------

fields = [
    "url",
    "first_name",
    "last_name",
    "job_title",
    "headline",
    "company",
    "industry",
    "location",
    "work_email",
    "other_work_emails",
    "twitter",
    "github",
    "company_linkedin_url",
    "company_domain",
    "profile_image_url"
]

engine = create_engine(connection_string)

with engine.begin() as connection:
    # Drop table if exists
    connection.execute(
        text(f"DROP TABLE IF EXISTS {table_name} CASCADE;")
    )
    # Build CREATE TABLE statement
    fields_sql = ",\n    ".join([f"{col} TEXT" for col in fields])
    create_sql = f"""
    CREATE TABLE {table_name} (
        id SERIAL PRIMARY KEY,
        {fields_sql}
    );
    """
    # Create table
    connection.execute(text(create_sql))
    print(f"Table {table_name} created with all TEXT fields.")

Table linkedin_data created with all TEXT fields.

In [6]:
from sqlalchemy import create_engine, text
import os

db_conn = os.getenv(
    "DB_CONNECTION",
    "postgresql://postgres:postgres@localhost:5432/etl_db"
)

# --- Name of the table you want to drop ---
table_name = "profiles_test"

# --- Drop the table ---
engine = create_engine(db_conn)

with engine.connect() as connection:
    # Use CASCADE if the table has foreign keys; otherwise, remove CASCADE.
    sql = f"DROP TABLE {table_name};"
    connection.execute(text(sql))
    print(f"Table {table_name} dropped (if it existed).")

Table profiles_test dropped (if it existed).

In [14]:
import os
import pandas as pd
from sqlalchemy import create_engine

db_conn = os.getenv(
    "DB_CONNECTION",
    "postgresql://postgres:postgres@localhost:5432/etl_db"
)

engine = create_engine(db_conn)

sql = """
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public'
  AND table_type = 'BASE TABLE';
"""

df = pd.read_sql(sql, engine)
print(df)

        table_name
0    profiles_test
1         profiles
2    linkedin_data
3  linkedin_data_2

In [13]:
import os
import pandas as pd
from sqlalchemy import create_engine

db_conn = os.getenv(
    "DB_CONNECTION",
    "postgresql://postgres:postgres@localhost:5432/etl_db"
)

engine = create_engine(db_conn)

sql = """
SELECT *
FROM linkedin_data_2
"""

df = pd.read_sql(sql, engine)
display(df)

,id,url,first_name,last_name,job_title,headline,company,industry,location,work_email,other_work_emails,twitter,github,company_linkedin_url,company_domain,profile_image_url,seniority_level,tech_profile,email_domain,has_multiple_emails
0,1,https://www.linkedin.com/in/ebony-rosé-a669a898,None,None,imagery analyst,imagery analyst at United States Army,US Army,Military,"Fort Stewart, Georgia",None,None,None,None,https://www.linkedin.com/company/us-army,army.mil,None,None,false,None,false
1,2,https://www.linkedin.com/in/darshanjain-nibjiy...,None,None,Team leader,Team leader at Genisys Group,Genisys Group,Information Technology & Services,"Bengaluru, Karnataka, India",None,None,None,None,https://www.linkedin.com/company/genisys-group,genisys-group.com,None,Mid,false,None,false
2,3,https://www.linkedin.com/in/pepe-huevos-697543119,None,None,Empleado en prácticas,Empleado en prácticas en CIS Security Limited,CIS Security Limited,Security & Investigations,"Vigo Area, Spain",None,None,None,None,https://www.linkedin.com/company/cis-security,cis-security.co.uk,None,Mid,false,None,false
3,4,https://www.linkedin.com/in/darshitta-teepoo-7...,None,None,Housekeeping,Hospitality& Tourism Management Trainee at Lon...,The Residence Mauritius,Hospitality,Mauritius,None,None,None,None,https://www.linkedin.com/company/the-residence...,cenizaro.com,None,None,false,None,false
4,5,https://www.linkedin.com/in/moinca-daughtry-38...,None,None,Career Coordinator,Career Coordinator at Georgia Department of Labor,Georgia Department of Labor,Government Administration,"Pooler, Georgia",None,None,None,None,https://www.linkedin.com/company/georgia-depar...,state.ga.us,None,Executive,false,None,false
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99977,99977,https://www.linkedin.com/in/toriell-west-97241...,None,None,Singer,Singer at Google,Google,Computer Software,"Cordova, Tennessee",None,None,None,None,https://www.linkedin.com/company/google,google.com,None,None,false,None,false
99978,99978,https://www.linkedin.com/in/跻俊-缪-71b6b8117,Mou,Jun,EC Key account manager,--,Pfizer,Pharmaceuticals,"Shanghai City, China",None,None,None,None,https://www.linkedin.com/company/pfizer,pfizer.com,None,None,false,None,false
99979,99980,https://www.linkedin.com/in/saul-jesus-castill...,None,None,enpleado,Asistentes jfsc huacho,INIA - Instituto Nacional de Innovacion Agraria,Farming,Peru,None,None,None,None,https://www.linkedin.com/company/iniaperu,inia.gob.pe,None,Mid,false,None,false
99980,99981,https://www.linkedin.com/in/bhaa-al-rhem-293a6...,None,None,Zone Manager,Zone Manager في AMEC,AMEC,Oil & Energy,Iraq,None,None,None,None,https://www.linkedin.com/company/amec,woodplc.com,None,None,false,None,false
99981,99982,https://www.linkedin.com/in/keith-greenough-19...,None,None,Project Manager,Project Manager at Bang,Bang,Marketing & Advertising,New Zealand,None,None,None,None,https://www.linkedin.com/company/bang,bang.net.au,None,None,false,None,false

In [4]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    database="sales_db",
    user="postgres",
    password="postgres"
)
cur = conn.cursor()
cur.execute("""
    SELECT table_schema, table_name 
    FROM information_schema.tables 
    WHERE table_type='BASE TABLE' 
      AND table_schema NOT IN ('pg_catalog', 'information_schema')
    ORDER BY table_schema, table_name;
""")
tables = cur.fetchall()
for schema, table in tables:
    print(f"{schema}.{table}")

cur.close()
conn.close()

In [3]:
import os
from dotenv import load_dotenv
import boto3

# Load environment variables from .env
load_dotenv()

# Get variables
access_key = os.getenv("AWS_ACCESS_KEY_ID")
secret_key = os.getenv("AWS_SECRET_ACCESS_KEY")
region = os.getenv("AWS_DEFAULT_REGION")
bucket = os.getenv("S3_BUCKET")

# Connect to S3
s3_client = boto3.client(
    's3',
    aws_access_key_id=access_key,
    aws_secret_access_key=secret_key,
    region_name=region
)

# List files (keys) in bucket
response = s3_client.list_objects_v2(Bucket=bucket)

if 'Contents' in response:
    print("Files/keys in bucket:")
    for obj in response['Contents']:
        print(obj['Key'])
else:
    print("No files found in bucket.")

Files/keys in bucket:
linkedin_data.csv